name: Build and test

on:
  push

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: 'postgresql://postgres:postgres@127.0.0.1:5432/air-quality-measurements-panel?serverVersion=11&charset=utf8'
      APP_ENV: 'test'
      APP_SECRET: 's3cr3t4ppc0d3'
      KERNEL_CLASS: 'App\Kernel'
      MESSENGER_TRANSPORT_DSN: 'doctrine://default?auto_setup=0'

    services:
      postgres:
        image: postgres:14.1
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'

      - name: Install dependencies
        run: composer install

      - name: PHP-CS-Fixer (Application)
        run: ./vendor/bin/php-cs-fixer fix src --dry-run --allow-risky=yes

      - name: PHP-CS-Fixer (Tests)
        run: ./vendor/bin/php-cs-fixer fix tests --dry-run --allow-risky=yes

      - name: Create database
        run: php bin/console doctrine:database:create --if-not-exists --env=test

      - name: Migrate database
        run: php bin/console doctrine:migrations:migrate --no-interaction --env=test

      - name: Unit tests
        run: ./bin/phpunit -c phpunit.xml --testdox --testsuite acceptance

      - name: Unit tests
        run: ./bin/phpunit -c phpunit.xml --testdox --testsuite unit

      - name: Integration tests
        run: ./bin/phpunit -c phpunit.xml --testdox --testsuite integration